$bg: #282c34;
$fg: #abb2bf;

// gray
$g0: #393f4c;
$g1: #555e70;
$g2: #727d94;
$g3: #8d9bb7;
$g4: #a9badb;

// primary
$p0: #98c379;

$transparent: #00000000;
$transparent-half: #00000088;
$transparent-header: #000000dd;
