name: build

on:
  push:
    branches-ignore: ['main']
    paths-ignore:
      - 'editor/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.0]
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Setup
        run: |
          npm install
          sed -e 's|apiUrl =.*|apiUrl = "https://cms.watasuke.net";|' config/sample-config.ts > config/config.ts
      - name: Build
        run: npm -w main run build
